body,h1,h2,h3,h4,h5 {
  font-family: "Poppins", sans-serif
}
body {
  color: #EEF3F7;
  font-size: 16px;
}
  a:link {
    text-decoration: none;
  }
  a:hover {
    color: #067AFF;
  }
  .w3-half img {
    margin-bottom: -6px;
    margin-top: 12px;
    opacity: 0.8;
    cursor: pointer
  }
  .w3-half img:hover {
    opacity: 1
  }
  /** DJ Zapy Mixes **/
  #a, #b, #c, #d, #e, #f, #g {
    font-size: 16px;
    border-style: outset;
    padding: 10px;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
  }
  /** Custom Break Mixes **/
  #h, #i, #j {
    font-size: 16px;
    border-style: outset;
    padding: 10px;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
  }
