body a {
            color: #000;
            text-decoration: none;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        li a {
            display: block;
        }
        li:nth-child(odd) {
            background-color: #ccc;
        }
        li:hover {
            background-color: #aaa;
        }
/** Nested div 1 **/
        #row {
            display: table;
            width: 100%;
            margin: auto;
        }
        .col {
            display: table-cell;
            width: 33%;
            margin-left: 2%;
            margin-right: 2%;
        }
        .col1 {
            display: table-cell;
            width: 33%;
            margin-left: 2%;
            margin-right: 2%;
        }
        .col2 {
            display: table-cell;
            width: 33%;
            margin-left: 2%;
            margin-right: 2%;
        }
/** End Nested div 1 **/
        header {
            background-image: url("http://i.imgur.com/VKQrP9H.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        header div {
            text-align: center;
            padding: 100px;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.2);
        }
        header div a {
            color: inherit;
        }
        header div p {
            font-style: italic;
        }
