div {
    animation: colorchange 3s ease-in 1s infinite reverse;
    height:100px;
    width:0px;
    background-color:red;
    -webkit-animation: colorchange 3s ease-in 1s infinite reverse;
}
@keyframes colorchange {
    from { width: 0px; }
    to { width: 100px; }
}
@-webkit-keyframes colorchange {
    from { width: 0px; }
    to { width: 100px; }
}