body,h1,h2,h3,h4,h5 {
  font-family: "Poppins", sans-serif
}
body {
  color: #EEF3F7;
  font-size: 16px;
}
  a:link {
    text-decoration: none;
  }
  a:hover {
    color: #067AFF;
  }
  .w3-half img {
    margin-bottom: -6px;
    margin-top: 12px;
    opacity: 0.8;
    cursor: pointer
  }
  .w3-half img:hover {
    opacity: 1
  }
  #first, #second, #third, #fourth, #fifth, #sixth, #final {
    font-size: 16px;
    border-style: outset;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
